version: 0.1
log:
  fields:
    service: registry
storage:
    delete:
      enabled: true
    cache:
        blobdescriptor: inmemory
    s3:
        accesskey:
        secretkey:
        region:
        bucket:
        encrypt: false
        secure: true
        v4auth: true
        rootdirectory: /
notifications:
    endpoints:
      - name: portus
        disabled: false
        url: http://portus.app.asiainfodata.com/v2/webhooks/events
        headers: X-Content-Type-Options: [nosniff]
        timeout: 500ms
        threshold: 5
        backoff: 1s
http:
    addr: :5000
    headers:
        X-Content-Type-Options: [nosniff]
health:
  storagedriver:
    enabled: true
    interval: 10s
    threshold: 3
