version: 0.1
log:
  fields:
    service: registry
notifications:
    endpoints:
        - name: portus
          url: http://portus.app.asiainfodata.com/v2/webhooks/events
          headers:
             Authorization: 12345678 
          timeout: 1s
          threshold: 10
          backoff: 1s
          disabled: false
http:
    addr: :5000
    headers:
        X-Content-Type-Options: [nosniff]
health:
  storagedriver:
    enabled: true
    interval: 10s
    threshold: 3
